

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Georgia, Serif;
  --mono-font:       Georgia, Serif;
  --body-font:       Arial, Helvetica, sans-serif;
  --navbar-font:     Georgia, Serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #000000;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

.distill-site-footer {
  padding: 20px;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  border: none;
  text-align: right;
  background-size: contain, 100;
  background-position: center left, center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image:  url("theme/uio_footer.png"), -webkit-linear-gradient(65deg, #FFF 35%, #000 35%);
}

h1::before{
  content: url("theme/uio_dots.png");  
  float: left;
  padding-top: 6px;
}

ul > li::marker {
  font-size: 1.125em;
  color: #ff0000;
}
