/*****************/
/* main elements */
/*****************/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
}

h1, h2, h3{
  font-family: Georgia, Serif;
  padding: .5em;
}

h1, h2 {
  background-color: #000;
  color: #fff;
}

/*************/
/* side menu */
/*************/
.topicsList {
  padding: .5em;
}

.topicsHeader {
  background-color: #000;
  color: #fff;
  padding: .5em;
}

.topicsList #doc-metadata {
  background-color: #333;
  color: #fff;
  padding: .5em;
}

.topicsList .topic.current {
  background-color: #666;
  color: #fff;
}

.topicsList .topic:hover, .topicsList .topic:active {
  background-color: #f32;
  color: #fff;
}

/***********/
/* buttons */
/***********/
.btn {
  background-color: #666;
  color: #fff;
}

.btn-light {
  background-color: #fff;
  color: #666;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

.btn:hover, .btn:active {
  background-color: #f32;
  color: #fff;
}
